<!--参考: https://github.com/k2works/sinatra_rakuten_api-->
<link rel="stylesheet" href="/css/main.css" />
<div class="starter-template">
<form method="post" action="confirm">
<SELECT name="select_age">
<OPTION value="0">指定なし</OPTION>
<OPTION value="10">10</OPTION>
<OPTION value="20">20</OPTION>
<OPTION value="30">30</OPTION>
<OPTION value="40">40</OPTION>
<OPTION value="50">50</OPTION>
</SELECT>
代
<SELECT name="select_sex">
<OPTION value="2">指定なし</OPTION>
<OPTION value="0">男性</OPTION>
<OPTION value="1">女性</OPTION>
</SELECT>
のランキング
<p><input type="submit" value="ランキングを表示する"></p>
</form>
    <table class="sample_02">
      <tr>
	<th>ランキング</th>
        <th>商品名</th>
        <th>値段</th>
      </tr>
      <% @rankings.each do |ranking| %>
      <tr>
	<td><%= ranking.rank %></td>
        <td><a href=<%= ranking.url %>> <%= ranking.name %> </a></td>
        <td><%= ranking.price %></td>
      </tr>
      <% end %>
    </table>
</div>
